.mini-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-in-out;
}

.mini-card:hover {
  background: rgba(0, 0, 0, 0.4);
}

.mini-play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  border: none;
}

.mini-card:hover .mini-play_btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.add-icon-button {
  opacity: 0;
}

.mini-card:hover .add-icon-button {
  opacity: 1;
}
